material/lab_02/linux-socfpga
material/lab_02/code/.vscode
material/lab_02/code/ex03
material/lab_02/code/ex04
material/lab_02/code/ex05_select
material/lab_02/code/ex01
*.o
*.o.*
*.ko
*.ko.*
*.mod
*.mod.*
*.order
*.cmd
*.symvers
.cache
compile_commands.json
material/lab_03/ioctl
material/lab_04/.vscode
